@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("/assets/fonts/Rubik-Regular.woff2") format("woff2"), url("/assets/fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-style: normal;
  src: local("Rubik-SemiBold"), url("/assets/fonts/Rubik-SemiBold.woff2") format("woff2"), url("/assets/fonts/Rubik-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: local("Rubik-Bold"), url("/assets/fonts/Rubik-Bold.woff2") format("woff2"), url("/assets/fonts/Rubik-Bold.woff") format("woff");
  font-display: swap;
}
:root {
  --font-f-rubik: "Rubik", sans-serif;
  --color-tx-black: #000000;
  --color-tx-blue: #0d34a4;
  --color-tx-white: #FFFFFF;
  --color-bg-white: #fff;
  --color-bg-dark-blue: #080327;
  --color-bg-grey: rgba(229, 229, 229, 1);
  --font-sz-12: 12px;
  --font-sz-12: 13px;
  --font-sz-13: 14px;
  --font-sz-14: 15px;
  --font-sz-16: 16px;
  --font-sz-17: 17px;
  --font-sz-18: 18px;
  --font-sz-20: 20px;
  --font-sz-22: 22px;
  --font-sz-24: 24px;
  --font-sz-26: 26px;
  --font-sz-28: 28px;
  --font-sz-30: 30px;
  --font-sz-32: 32px;
  --font-sz-40: 40px;
  --font-sz-68: 68px;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-semibold: 600;
  --font-w-bold: 700;
}

@-webkit-keyframes header {
  0% {
    opacity: 0;
    top: -150px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes header {
  0% {
    opacity: 0;
    top: -150px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
body {
  font-family: var(--font-f-rubik);
  font-weight: var(--font-w-regular);
  color: var(--color-tx-black);
  background-color: var(--color-bg-white);
  letter-spacing: 0px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

/* ============================== HEADER ============================== */
.header__top-logo img {
  width: 136px;
}
@media (min-width: 1200px) {
  .header__top-logo img {
    width: 300px;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--font-sz-14);
  font-weight: var(--font-w-regular);
}
.header__menu-item {
  margin-right: 30px;
}
.header__menu-item:first-child {
  color: var(--color-tx-blue);
  font-weight: var(--font-w-semibold);
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__bot {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgb(229, 229, 229);
}
.header__bot .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}
.header__catalog-menu li:hover > .header__catalog-submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX("0deg");
          transform: rotateX("0deg");
}
.header__catalog-submenu {
  position: absolute;
  z-index: 5;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateX("-90deg");
          transform: rotateX("-90deg");
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-bg-white);
}
.header__catalog-submenu--lvl1 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.header__catalog-submenu li {
  width: 100%;
  padding: 18px 30px 18px 30px;
  height: 55px;
  vertical-align: middle;
}
.header__catalog-submenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
.header__catalog-submenu .header__catalog-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.header__catalog-title {
  position: relative;
  font-size: var(--font-sz-13);
  font-weight: var(--font-w-bold);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 350ms ease 0s;
  transition: 350ms ease 0s;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .header__catalog-title {
    width: 265px;
  }
}
/* ============================== MAIN-SLIDER ============================== */
.glide .glide__arrows .glide__arrow {
  height: 37px;
  width: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: var(--color-bg-white);
  color: var(--color-tx-blue);
  font-size: var(--font-sz-26);
  border-radius: 50%;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
.glide .glide__arrows .glide__arrow:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: var(--color-tx-blue);
  color: var(--color-bg-white);
  -webkit-box-shadow: 0px 0px 17px 1px rgb(202, 202, 202);
          box-shadow: 0px 0px 17px 1px rgb(202, 202, 202);
}

/* ============================== NEW-SLIDER ============================== */
.new__inner {
  padding: 20px 0;
}
.new__inner-title {
  font-size: var(--font-sz-24);
  font-weight: var(--font-w-semibold);
  line-height: 34px;
  margin-bottom: 15px;
}
.new__inner-products {
  border: 1px solid rgb(229, 229, 229);
  padding: 20px;
}
.new__slider {
  position: relative;
}
.new__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  margin-top: -35px;
}
.new__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("/assets/img/arrow_back.svg") 0 0/100% no-repeat;
}
.new__slider .slick-arrow.slick-next {
  right: 0;
  background: url("/assets/img/arrow_next.svg") 0 0/100% no-repeat;
}
.new__slider-item {
  width: 220px;
  margin: 0 auto 40px;
}
.new__slider-img {
  width: 219px;
  height: 219px;
  margin-bottom: 5px;
}
.new__slider-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
/* Центрирование слайдов по ширине */
.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ============================== NEW-SLIDER ============================== */
.info {
  background-color: var(--color-bg-dark-blue);
}
.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-tx-white);
}
.info__item-img {
  margin-right: 10px;
}
.info__item-title {
  font-weight: var(--font-w-semibold);
  margin-bottom: 5px;
}
.info__item-subtitle {
  font-size: var(--font-sz-14);
}

/* ============================== CATALOG-SLIDER ============================== */
.catalog__inner {
  padding-top: 30px;
  padding-bottom: 100px;
}
.catalog__title {
  font-size: var(--font-sz-24);
  font-weight: var(--font-w-semibold);
  padding: 15px 0;
}
.catalog__slider-glide {
  position: relative;
  background-color: var(--color-bg-grey);
  border: 2px solid var(--color-bg-grey);
}
.catalog__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--color-bg-white);
}
.catalog__item-img {
  width: 216px;
  height: 216px;
  margin-bottom: 5px;
}
.catalog__item-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.catalog__item-text h3 {
  font-weight: var(--font-w-semibold);
  margin-bottom: 7px;
}
.catalog__item-text p {
  font-size: var(--font-sz-13);
}

.glide__arrows-catalog ion-icon {
  font-size: 26px;
}

.glide__arrows-catalog .glide__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--color-tx-blue);
  border-color: var(--color-tx-blue);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
.glide__arrows-catalog .glide__arrow:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: var(--color-bg-grey);
  color: var(--color-bg-dark-blue);
  border-color: var(--color-bg-grey);
}

/* ============================== SOCIALS ============================== */
.socials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 150px;
}
.socials__item:hover .socials__item-img img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.socials__item:hover .socials__item-btn {
  background-color: transparent;
  border: 1.5px solid var(--color-bg-white);
  color: var(--color-tx-white);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.socials__item-wrapper {
  position: relative;
}
.socials__item-img {
  width: 440px;
  height: 195 px;
  overflow: hidden;
}
.socials__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.socials__item-text {
  position: absolute;
  top: 30%;
  left: 20px;
  z-index: 5;
}
.socials__item-title {
  color: var(--color-tx-white);
  font-size: var(--font-sz-18);
  font-weight: var(--font-w-bold);
  line-height: 26px;
}
.socials__item-btn {
  position: relative;
  display: inline-block;
  background-color: var(--color-bg-white);
  margin-top: 12px;
  font-size: var(--font-sz-13);
  font-weight: var(--font-w-semibold);
  color: var(--color-tx-black);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.socials__item-btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 10px;
}
.socials__item-btn p img {
  margin-left: 5px;
  margin-top: -1px;
  color: #0d34a4;
  font-size: var(--font-sz-24);
}

/* ============================== SOCIALS ============================== */
.about {
  border-top: 2px solid var(--color-bg-grey);
  border-bottom: 2px solid var(--color-bg-grey);
}
.about__inner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.about__inner-content h2 {
  font-size: var(--font-sz-24);
  font-weight: var(--font-w-semibold);
}
.about__inner-content p {
  font-size: var(--font-sz-14);
  line-height: 24px;
}
.about__inner-content p:last-child {
  margin-top: 25px;
}